.avatar{
    margin: auto;
}

.card {
    font-family: 'Impact', sans-serif;
    color: black;
    text-align: justify;
    letter-spacing: 1px;
    display: inline-block;
    border: 0px solid black;
    padding: 15px;
    height: auto;
    width: 300px;
    margin: 7px;
    position:round($number: 3);

}

.validation-message {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgb(125, 120, 120);
    font-weight:lighter;
    font-family: 'Segoe UI', Tahoma;
}


